<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.digitaldoctor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".search_doctor">
        </activity>
        <activity android:name=".searchdoctor" />
        <activity android:name=".patient_home_info" />
        <activity android:name=".doc_home_info" />
        <activity android:name=".history_log" />
        <activity android:name=".prescription" />
        <activity android:name=".doctor_home" />
        <activity android:name=".patientHome" />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity" />
        <activity
            android:name=".login" />
        <activity android:name=".pharmacyregistration" />
        <activity android:name=".patientregistration" />
        <activity android:name=".doctoregistration" />
        <activity android:name=".Scanned_qr" />
    </application>

</manifest>